<div class="card">
  <div class="card-header">
    soy el footer
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">Gabriel Bareiro</h5>
    <p class="card-text text-center">Algunos derechos reservados.</p>
  </div>
</div>